<section class="info-banner about" style="background-image: url('images/4.jpg');">
  <div class="overlay">
    <div class="content-wrap">
      <div class="content">
          <div class="title">
              The Firm
          </div>
      </div>
  </div>
  </div>
</section>
<section class="professional about">
  <div class="container">
    <div class="content-wrap">
        <!-- <div class="img"> <img src="images/law.png" alt=""> </div> -->
        <div class="text">
            <div class="title">Bucks Reade Solicitors</div>
            <p>
                <span class="letter">B</span>
                ucks Reade Solicitors is a firm of Solicitors and Advocates with a rich blend of expertise and experience in existing and emerging areas of law. Our team is comprised of lawyers with degrees and qualifications on different subjects, and high-value trainings, thus positioning the firm to provide diverse and peculiar services to our Clients.
            </p>
            <p>
                Located in the Central Business District of Lagos State, our Clients are accessible to us, and we are positioned by virtue of proximity to provide services to several corporate entities and organizations. We also work remotely, taking full advantage of evolving IT infrastructure and resources, to serve our Clients both effectively and expeditiously.
            </p>
            <p>
                Our vision to be the firm of preference constantly drives our work ethics and positively impacts on our work culture as we evolve. Our Clients can count on us to deliver great value to their businesses and their operations. This is because our services are rendered in the most intentional and efficient way possible.
            </p>
            <p>
                Our services are affordable and without any compromise to the quality of service provided. Also, our clients may opt for either our fee-based or retainer-based service, or such other service arrangement that best serves the need of the Client.
            </p>
        </div>
    </div>
</div>
</section>
<section class="info with-bg">
  <div class="container">
    <div class="title">Our Values</div>
    <p>
        As a firm that places a premium on its Clients, we have integrated into our work culture the following core values which our Clients can effortlessly attest to:
    </p>
    <ol type="a">
      <li>Proficiency</li>
      <li>Integrity</li>
      <li>Commitment</li>
      <li>Excellence</li>
    </ol>
  </div>
</section>
<section class="partners">
  <div class="container">
      <div class="title">Our Partners</div>
      <div class="img-wrap">
          <div class="wrap">
              <a ui-sref="moyosore-ogunlewe">
                  <div class="img moyo" style="background-image: url('images/pic2.jpeg');">
                      <div class="overlay">
                          <div class="overlay-cont"></div>
                      </div>
                  </div>
                  <div class="name">Moyosore Ogunlewe</div>
                  <div class="caption">LL.M (University of Buckingham, UK); BL (Nigerian Law School); LL.B (University of Buckingham, UK); BSc Business Administration (University of Lagos).</div>
              </a>
          </div>
          <div class="wrap">
              <a ui-sref="taiwo-akingbesote">
                  <div class="img taiwo" style="background-image: url('images/pic1.jpeg');">
                      <div class="overlay">
                          <div class="overlay-cont"></div>
                      </div>
                  </div>
                  <div class="name">Taiwo Akingbesote</div>
                  <div class="caption">LL.M (University of Lagos); BL. (Nigerian Law School, Enugu); LL.B (Igbinedion University).</div>
              </a>
          </div>
      </div>
  </div>
</section>
