<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Banking And Insurance</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e13.jpg');"></div>
      <div class="content-info">
        <p>
          Our firm has continued to provide sound advisory services to banking and other non-banking financial institutions particularly as it relates to their transactional operations both locally and internationally.
        </p>
        <p>
          Matters arising from banker customer relationship, banking, bills of exchange, mortgages, etc. are well within our competence. We provide representation on matters arising from insurance policies and claims.
        </p>
      </div>
    </div>
  </div>
</section>