<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Business Financing</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e6.jpg');"></div>
      <div class="content-info">
        <p>
          The intricacies of business operations become more obvious when the need for funding arises. So we advise on various financing options open to our clients and the possible legal implications on their business structure and operations.
        </p>
      </div>
    </div>
  </div>
</section>