<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Company Secretarial Services</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e7.jpg');"></div>
      <div class="content-info">
        <p>
          Our service offerings include comprehensive company secretarial work such as attendance of board and company meetings, taking minutes, filing and rendering of returns and resolutions to Corporate Affairs and Commission, providing guidance and structure for the implementation of corporate governance to companies of diverse size and operations.
        </p>
        <p>
          At an affordable fee, companies outsource and entrust their secretarial functions to us with result of reducing the overhead costs associated with placing a team of lawyers or an entire legal department on the payroll of the company. This smart arrangement affords a company the opportunity of balancing cost whilst accessing the full services of a team of lawyers through an affordable retainer agreement.
        </p>
      </div>
    </div>
  </div>
</section>