<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Corporate Law</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e1.jpg');"></div>
      <div class="content-info">
        <p>
          Our corporate law practice is very extensive. It covers aspects concerning the organization, structure, and governance of a business including changes that occur within the business as influenced by changes in ownership, shareholding, funding, and perhaps the possible implication of a new or amended legislation relevant to an industry within which a company is operating. Far beyond the commencement of a company, we also understand that the survival and growth of any business thrives on continuous legal support and compliance with laws and regulations relevant to the operation of any given business.
        </p>
        <p>
          <strong>Our services include:</strong>
        </p>
        <ol type="a">
          <li>Business Restructuring</li>
          <li>Mergers and Acquisition</li>
          <li>Asset Acquisition</li>
          <li>Management Buy-out/Buy-in</li>
          <li>Compromise and Arrangement</li>
          <li>Shares transfer/acquisition</li>
          <li>Liquidation/Winding Up</li>
          <li>Insolvency</li>
        </ol>
      </div>
    </div>
  </div>
</section>