<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Debt Recovery & Restructuring</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e9.jpg');"></div>
      <div class="content-info">
        <p>
          Debt recovery is essential to the cash flow of any business, so we assist clients in recovering debts through the machinery of the courts and other available dispute resolution mechanisms. Our clients include banks, financial institutions, companies and businesses that often extend trade credits to their customers.
        </p>
        <p>
          We are equally skilled at representing clients in the process of debt restructuring and negotiation which, inevitably, the creditor benefits from. Our impact in the course of debt restructuring helps in maintaining the confidence of the creditor in the debtor even when difficulties arise in the course of their business relationship.
        </p>
      </div>
    </div>
  </div>
</section>