<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Employment And Compensation</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e12.jpg');"></div>
      <div class="content-info">
        <p>
          Employment and labour is no longer approached from a casual perspective. With our services, we provide the much needed legal support for the human resources department of a company. We draft and review contracts of employment, service agreements, employment handbooks, and operating manuals.
        </p>
        <p>
          Also, we advise on the implementation of redundancy or termination of employment thus making sure that an employer acts within the scope of its contracts and the law as applicable.
        </p>
      </div>
    </div>
  </div>
</section>