<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Energy Resources Law</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e5.jpg');"></div>
      <div class="content-info">
        <p>
          We provide advisory services to various stakeholders in the oil and gas industry. We also draft and review production sharing contracts, joint operating agreements, and other relevant contracts to the operations and businesses of companies operating in the upstream, mid-stream and downstream sector of the oil and gas industry.
        </p>
        <p>
          We represent our Clients in the electricity industry by advising on transactions involving independent power projects, bilateral power purchase agreement, and gas supply agreements.
        </p>
      </div>
    </div>
  </div>
</section>