<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Entertainment And Media</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e15.jpg');"></div>
      <div class="content-info">
        <p>
          As a fast emerging economy in Nigeria and Africa in general, this industry is quickly taking its place among others as a tool for revenue generation which therefore requires prompt and proper effective advisory services.
        </p>
        <p>
          We have therefore been involved in training and retraining on the legal aspects of the subsectors of this industry including the contracts revolving around entertainment and various media of expression to the public. We also deploy cost effective dispute resolution mechanisms to disputes arising in this area.
        </p>
      </div>
    </div>
  </div>
</section>