<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Family Law, Estate Planning And Succession</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e11.jpg');"></div>
      <div class="content-info">
        <p>
          We assist our Clients in taking inventory of their assets and proffer useful advice for the distribution of assets among their beneficiaries in the event of death. Succession requires deliberate and thoughtful planning through the writing of a Will or setting up a living trust. We guide our Clients through this process.
        </p>
        <p>
          In the event of failing to write a Will, we are able to secure the estate of the deceased by applying for letters of administration on behalf of persons or beneficiaries of the deceased applying for same.
        </p>
        <p>
          We also have demonstrable experience in relation to dissolution of marriages, separation agreements and child custody.
        </p>
      </div>
    </div>
  </div>
</section>