<section class="home-banner">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('images/1.jpg');">
                <div class="overlay">
                    <div class="topic">With over 20 years of Law practice in Nigeria</div>
                    <div class="body">Justice Oriented.</div>
                    <div class="line"></div>
                    <a class="button" ui-sref="contact">Speak to a Lawyer</a>
                </div>
            </li>
            <li style="background-image: url('images/2.jpg');">
                <div class="overlay">
                    <div class="topic">The best law practices & services for all your legal needs.</div>
                    <div class="body">Client Focused</div>
                    <div class="line"></div>
                    <a class="button" ui-sref="contact">Speak to a Lawyer</a>
                </div>
            </li>
            <li style="background-image: url('images/3.jpg');">
                <div class="overlay">
                    <div class="topic">With over 20 years of Law practice in Nigeria</div>
                    <div class="body">Law Expertise.</div>
                    <div class="line"></div>
                    <a class="button" ui-sref="contact">Speak to a Lawyer</a>
                </div>
            </li>
            <li style="background-image: url('images/4.jpg');">
                <div class="overlay">
                    <div class="topic">With over 20 years of Law practice in Nigeria</div>
                    <div class="body">International Law</div>
                    <div class="line"></div>
                    <a class="button" ui-sref="contact">Speak to a Lawyer</a>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="professional">
    <div class="container">
        <div class="content-wrap">
            <div class="img"> <img src="images/law.png" alt=""> </div>
            <div class="text">
                <div class="title">Bucks Reade Solicitors</div>
                <p>
                    <span class="letter">B</span>
                    ucks Reade Solicitors is a frontier firm with specialties in diverse practice areas and sectors. 
                    The firm is built on several years of wealth of experience and expertise garnered from a mix of 
                    dispute resolution, corporate advisory, commercial transactions, real estate, debt recovery, 
                    legislative drafting, company secretarial services, to name a few.
                </p>
                <p>
                    With a strong vision to be the firm of preference, our firm is positioned to offer cutting-edge 
                    services to its esteemed clients in existing and emerging areas of law. We are not only dynamic 
                    and progressive in our approach to Clients, but also attentive to the varying needs, circumstances, 
                    and businesses of our Clients. More than that, we take cognizance of the peculiarity of any given 
                    task with a view to ensuring client satisfaction.
                </p>
                <p>
                    We deliver on our promises to our Clients through our vibrant legal team with a portfolio of 
                    expertise and qualifications, utilized to serve our Clients in the most efficient way possible.
                </p>
                <p>
                    We open for business and ready to take on your legal concerns. <br> You are most welcome!

                    
                </p>
            </div>
        </div>
    </div>
</section>

<section class="info-banner" style="background-image: url('images/b.jpg');">
    <div class="overlay">
        <div class="content-wrap">
            <div class="content">
                <div class="title">
                    “Our Values”
                </div>
                <div class="caption">
                    Our services and work culture are predicated on core values which our Clients experience and attest to as follows:
                    <div class="mt-1">
                        <span class="tab">Professionalism</span>
                        <span class="tab">Integrity</span>
                        <span class="tab">Commitment</span>
                        <span class="tab">Excellence</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="expertise">
    <div class="container">
        <div class="title">Areas of Practice</div>
        <div class="content-wrap">
            <div class="content">
                <a ui-sref="corporate-law">
                    <div class="image" style="background-image: url('images/e1.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Corporate Law</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="start-up-advisory">
                    <div class="image" style="background-image: url('images/e2.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Start Up Advisory</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="commercial-law">
                    <div class="image" style="background-image: url('images/e3.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Commercial Law</div>
                    </div>
                </a>
            </div>
            
            <div class="content">
                <a ui-sref="dispute-resolution">
                    <div class="image" style="background-image: url('images/e4.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Dispute Resolution</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="energy-resources-law">
                    <div class="image" style="background-image: url('images/e5.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Energy Resources Law</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="business-financing">
                    <div class="image" style="background-image: url('images/e6.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Business Financing</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="company-secretarial-services">
                    <div class="image" style="background-image: url('images/e7.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Company Secretarial Services</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="real-estate">
                    <div class="image" style="background-image: url('images/e8.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Real Estate</div>
                    </div>
                </a>
            </div>          
        </div>
        <div class="view-all">
            <a ui-sref="services">View All</a>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="title">Our Partners</div>
        <div class="img-wrap">
            <div class="wrap">
                <a ui-sref="moyosore-ogunlewe">
                    <div class="img moyo" style="background-image: url('images/pic2.jpeg');">
                        <div class="overlay">
                            <div class="overlay-cont"></div>
                        </div>
                    </div>
                    <div class="name">Moyosore Ogunlewe</div>
                    <div class="caption">LL.M (University of Buckingham, UK); BL (Nigerian Law School); LL.B (University of Buckingham, UK); BSc Business Administration (University of Lagos).</div>
                </a>
            </div>
            <div class="wrap">
                <a ui-sref="taiwo-akingbesote">
                    <div class="img taiwo" style="background-image: url('images/pic1.jpeg');">
                        <div class="overlay">
                            <div class="overlay-cont"></div>
                        </div>
                    </div>
                    <div class="name">Taiwo Akingbesote</div>
                    <div class="caption">LL.M (University of Lagos); BL. (Nigerian Law School, Enugu); LL.B (Igbinedion University).</div>
                </a>
            </div>
        </div>
    </div>
</section>


<script>
    $('.flexslider').flexslider({
        animation: "slide"
    });
</script>