<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Immigration</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e16.jpg');"></div>
      <div class="content-info">
        <p>
          The increase in foreign direct investments (FDI) into the country requires the need for a proper and effective advisory services for the procurement of entry visas, work permit, business permits, expatriates quotas and other documents foreigners require to work and stay in Nigeria. As far as immigration matters are concerned, we are equipped with an effective system of ensuring smooth operational facilitations of these and many more as may be required by law.
        </p>
      </div>
    </div>
  </div>
</section>