<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Intellectual Property Law</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e14.jpg');"></div>
      <div class="content-info">
        <p>
          The firm has significant expertise in the area of intellectual property law.  We offer premium services in the preservation of intellectual property by registering trademarks, patents and copyright, and also prevent the exploitation of same.
        </p>
      </div>
    </div>
  </div>
</section>