<section class="partners-content">
  <div class="container">
    <div class="wrap">
      <div class="image-sec">
        <img src="images/pic2.jpeg" alt="">
        <div class="img-info">
          <div class="name"><strong>Moyosore Ogunlewe</strong>- LL.M (University of Buckingham, UK); BL (Nigerian Law School); LL.B (University of Buckingham, UK); BSc Business Administration (University of Lagos).</div>
        </div>
      </div>
      <div class="content-sec">
        <p class="mt-0">
          <span class="letter">M</span>
          oyosore is the Principal Partner of the firm. He is a seasoned litigator and a negotiator. He specializes in commercial law, maritime law, energy law, environmental law, energy resources, foreign direct investment, sports law, and property law.
        </p>
        <p>
          Moyosore has worked in various law firms and been involved in disputes involving high profile individuals in the country. Additionally, he has worked in some financial institutions (including GTI Capital, a member of the Nigerian Stock Exchange) thereby making him versatile and adaptable to our Clients.
        </p>
        <p>
          With a degree and background in business administration, Moyosore is well-versed with an understanding of the business world including foreign direct investment and foreign portfolio investment, and is able to apply legal solutions to various business undertakings, regardless of the size. He has been involved in various complex commercial transactions and disputes which include:
        </p>
        <ol type="a">
          <li>Advised on the sale of prime real estate in Lagos State  with property value of  over N465 million;</li>
          <li>Recovery of USD22m from the NNPC on behalf of a Judgment creditor upon successful Supreme Court appeal;</li>
          <li>Advised and assisted client in obtaining Letter of Allocation from NNPC in relation to crude oil lifting quota allowances;</li>
          <li>Part of Legal team representing NPA in its defence of a $650m Civil suit brought by owners of a marine vessel;</li>
          <li>Part of defence teams in criminal trials of high profile public figures brought by the EFCC.</li>
        </ol>
        <p>
          Moyo sits as a non-executive director on the board of some reputable corporate bodies in Nigeria. He also advises legislators of all tiers of government on different subject areas. He is an active member of the Nigerian Bar Association and the International Bar Association.
        </p>
      </div>
    </div>
  </div>
</section>