<section class="privacy">
<div class="container">
  <p><strong>Privacy Policy</strong></p>
  <p>Pursuant to and in compliance with the 1999 Constitution of the Federal Republic of Nigeria (as amended) which guarantees the right to privacy and the Nigerian Data Protection Regulation, Bucks Reade Solicitors affirms its commitment to the protection of the privacy and personal data of its website users.</p>
  <p>This Privacy Policy provides details on how we process, collect, and manage your personal data, as well as your rights in respect of your personal data.</p>
  <p>By visiting and continuing to use our website, you acknowledge that you have reviewed and agreed our privacy policy. You have also consented to the use of your personal data and applicable disclosures.</p>
  <p>Our Privacy Statement covers as follows:</p>
  <ul>
    <li>Definition</li>
    <li>Personal data we collect</li>
    <li>How we use your personal data</li>
    <li>Purpose of processing your personal data</li>
    <li>Your rights regarding your personal data</li>
    <li>Links to third party websites</li>
    <li>Amendment</li>
    <li>Contact</li>
  </ul>
  <p>Please note that this Policy does not apply to Information that is already in the public domain through no fault of ours.</p>
  <p><strong>Definition</strong></p>
  <p>For the purpose of this Privacy Policy, the following words/phrases shall have the meaning assigned as follows:</p>
  <p>Personal Data means any information relating to you or that identifies you (whether uniquely, directly or remotely), including but not limited to, your name, identification number, location data, online identifier address, photo, email address, posts on our website platform, religion, date of birth, health, race/tribe, nationality, ethnicity, political views, Bank Verification Number, IP address, and others.</p>
  <p>Data Processing means any operation or set of operations carried out or performed on your Personal Data, whether or not by automated means, including but not limited to collection, recording, managing, organization, storage, alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, erasure or destruction.</p>
  <p><Strong>Personal Data We Collect</Strong></p>
  <p>Personal Data that we collect includes:</p>
  <ol type="a">
    <li>Contact information such as name, email address and telephone number.</li>
    <li>Biographical information such as job title and employer, photograph and video or audio content including you.</li>
    <li>Marketing, communication preferences and related information such as preferences, feedback and survey responses.</li>
    <li>Information on the nature of service you require from us.</li>
    <li>When you use our website or one of our social media platforms linked to our website, we collect information about your visit and how you interact with our website.</li>
    <li>When a client makes enquiries about or engages our legal services, we will ask for the information that we need to provide those services. This information includes contact details like your name, email address, residential address, phone number, and information relevant to the services we provide. Information provided by a client may include personal data that relates to persons whose information is relevant to the instruction.</li>
    <li>When you apply for a job with us we will ask you for information relevant to your application.</li>
  </ol>
  <p><strong>How We Use Your Personal Data</strong></p>
  <p>We will only use/process your personal data within the ambit of the law. Your personal data is used/processed as follows:</p>
  <ol type="a">
    <li>In order to respond to enquiries or comments on our website.</li>
    <li>Shared with relevant service providers, stakeholders, regulatory or judicial authorities, or other third parties pursuant to a court order or subpoena</li>
    <li>Where disclosure is necessary to comply with relevant or applicable laws</li>
  </ol>
  <p><strong>Purpose of processing your personal data</strong></p>
  <p>We collect and process your personal data for the following reason:</p>
  <ol type="a">
    <li>To improve our services and customize user experience;</li>
    <li>To provide targeted marketing and advertising, notices and updates based on communication preferences;</li>
    <li>To obtain your preferred means by which we may contact you whether by telephone, text (SMS), email messaging etc.;</li>
    <li>comply with legal, contractual and regulatory obligations;</li>
    <li>execute your specific requests or use same for a specific purpose as you may instruct;</li>
    <li>To respond to your complaints or enquiries.</li>
  </ol>
  <p><strong>Your Rights Regarding Your Personal Data</strong></p>
  <p>You have the following rights regarding your personal information collected and processed by us:</p>
  <ol type="a">
    <li>Right to access your personal information being held by us. Such request for personal information may be sent to to <a href="mailto:bucksreade@yahoo.com">bucksreade@yahoo.com</a></li>
    <li>Right to request that your personal data be made available to you in an electronic format or that it should be sent to a third party. However, frequent or unreasonable requests or requests with severe cost implication will be refused with reasons accompanying the refusal. Please note that the firm reserves the right to charge you a fee for the processing of your request.</li>
    <li>Right to rectify any inaccurate or incomplete information.</li>
    <li>Right to withdraw consent for the processing of your information, provided that such withdrawal shall not invalidate any prior processing of your personal data on the basis of consent previously given by you. The right to withdraw consent shall not apply where personal data is processed under regulatory requirement.</li>
    <li>Restrict or object to the processing of your personal data except where data is processed pursuant to a law or court order.</li>
    <li>Right to request that your personal data be deleted. We may however continue to retain the information where required under law, contract, regulatory authorities, or court of law.</li>
  </ol>
  <p><strong>Links To Third Party Websites</strong></p>
  <p>The website may contain links to other websites which may offer useful information. Please note that the linked websites are not under our control and this Privacy Policy does not apply to these websites.</p>
  <p><strong>Amendment</strong></p>
  <p>We may amend or revise this Policy at any time by posting a revised version on our website. Notice of the amendment will be effective from the date of publication. Kindly, note that your continued use of our website after the publication of the revised version constitutes your acceptance of our amended terms of the Privacy Policy.</p>
  <p><strong>Contact</strong></p>
  <p>For questions or requests pertaining to your data privacy rights, kindly contact us via the information below:</p>
  <p>Email: <a href="mailto:bucksreade@yahoo.com">bucksreade@yahoo.com</a></p>
  <p>Please allow up to four working days for requests to be processed. The Firm reserves the right to charge a reasonable fee to process excessive or repeated requests.</p>
</div>
</section>