<section class="info-banner about" style="background-image: url('images/b.jpg');">
  <div class="overlay">
    <div class="content-wrap">
      <div class="content">
          <div class="title">
              Services
          </div>
      </div>
  </div>
  </div>
</section>

<section class="expertise">
    <div class="container">
        <div class="title">Areas of Practice</div>
        <div class="content-wrap">
            <div class="content">
                <a ui-sref="corporate-law">
                    <div class="image" style="background-image: url('images/e1.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Corporate Law</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="start-up-advisory">
                    <div class="image" style="background-image: url('images/e2.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Start Up Advisory</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="commercial-law">
                    <div class="image" style="background-image: url('images/e3.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Commercial Law</div>
                    </div>
                </a>
            </div>
            
            <div class="content">
                <a ui-sref="dispute-resolution">
                    <div class="image" style="background-image: url('images/e4.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Dispute Resolution</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="energy-resources-law">
                    <div class="image" style="background-image: url('images/e5.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Energy Resources Law</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="business-financing">
                    <div class="image" style="background-image: url('images/e6.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Business Financing</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="company-secretarial-services">
                    <div class="image" style="background-image: url('images/e7.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Company Secretarial Services</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="real-estate">
                    <div class="image" style="background-image: url('images/e8.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Real Estate</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="debt-recovery-and-restructuring">
                    <div class="image" style="background-image: url('images/e9.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Debt Recovery & Restructuring</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="sport-law">
                    <div class="image" style="background-image: url('images/e10.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Sport Law</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="family-law-estate-planning-and-succession">
                    <div class="image" style="background-image: url('images/e11.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Family Law, Estate Planning And Succession</div>
                    </div>
                </a>
            </div>
            
            <div class="content">
                <a ui-sref="employment-and-compensation">
                    <div class="image" style="background-image: url('images/e12.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Employment And Compensation</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="banking-and-insurance">
                    <div class="image" style="background-image: url('images/e13.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Banking And Insurance</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="intellectual-property-law">
                    <div class="image" style="background-image: url('images/e14.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Intellectual Property Law</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="entertainment-and-media">
                    <div class="image" style="background-image: url('images/e15.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Entertainment And Media</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="immigration">
                    <div class="image" style="background-image: url('images/e16.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Immigration</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="transportation">
                    <div class="image" style="background-image: url('images/e17.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Transportation</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="taxation">
                    <div class="image" style="background-image: url('images/e18.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Taxation</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="legal-opinion-and-legislative-drafting">
                    <div class="image" style="background-image: url('images/e19.jpg');"></div>
                    <div class="caption">
                        <div class="caption-title">Legal Opinion And Legislative Drafting</div>
                    </div>
                </a>
            </div>

            <div class="content">
                <a ui-sref="">
                    
                </a>
            </div>

        </div>
    </div>
</section>