<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Start Up Advisory</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e2.jpg');"></div>
      <div class="content-info">
        <p>
          We offer full scale advisory services to start ups and emerging companies with a view to assisting the companies to position themselves for growth and expansion. With our legal expertise, we step when a client desires to implement a business idea by advising on the best business structure suitable for the business and other legal modalities required by law to be in place for the successful and efficient running of the business.
        </p>
        <p>
          Here, we register the appropriate business vehicle with the CAC, and also deal with other regulatory bodies for the purpose of trademark registration, business permits and expatriate quotas etc. We also draft contracts and other legal documentation and assist startups with due diligence and compliance even as they grow and expand their business undertakings.
        </p>
        <p>
          We also provide initial support services to company promoters by drafting non-disclosure agreements, confidentiality agreement, memorandum of understanding, and engaging in legal research as it pertains to the legal framework within the industry contemplated.
        </p>
      </div>
    </div>
  </div>
</section>