<section class="partners-content">
  <div class="container">
    <div class="wrap">
      <div class="image-sec">
        <img src="images/pic1.jpeg" alt="">
        <div class="img-info">
          <div class="name"><strong>Taiwo Akingbesote</strong>- LL.M (University of Lagos); BL. (Nigerian Law School, Enugu); LL.B (Igbinedion University).</div>
        </div>
      </div>
      <div class="content-sec">
        <p class="mt-0">
          <span class="letter">T</span>
          aiwo Akingbesote is the Managing Partner of the firm. She is an astute legal mind who brings to the firm her wealth of expertise in dispute resolution, and the broad spectrum of corporate advisory and commercial transactions. Her combined expertise in litigation and commercial transactions makes for excellence as Clients tasks are executed.
        </p>
        <p>
          She holds law degrees from Igbinedion University and the Nigerian Law School, Enugu State, and a masters degree in law (LL.M) from the prestigious University of Lagos. In the pursuit of her masters degree, she acquired a depth of learning in the areas of secured credit transactions, energy resources law, maritime law, and employment law.
        </p>
        <p>
          Taiwo’s work experience cuts across the public and private sector, thus making her versatile, well-rounded and positioned to understand clientele from diverse sectors and industries. She has handled several contentious civil, criminal, and commercial disputes in various courts within Nigeria. Additionally, she has advised on commercial transactions and represented corporate bodies including SMEs in the course of business commencement, restructuring, and expansion.
        </p>
        <p>
          Taiwo leads a team of brilliant lawyers to deliver on tasks and achieve the objectives of the firm. She is a member of the Nigerian Bar Association.
        </p>
      </div>
    </div>
    
  </div>
</section>