<section class="practice-area">
  <div class="breadcum">
    <div class="container">
      <ul>
        <li ng-class="{ current: isActive('/practice-area')}" ><a ui-sref="services">Practice Area</a> <span class="space"> > </span></li>
        <li>Taxation</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="banner" style="background-image: url('images/e18.jpg');"></div>
      <div class="content-info">
        <p>
          Tax advisory and planning are services we provide to our corporate clients. We provide our Clients with much needed assistance required as they operate their businesses within the changing tax regime in Nigeria. Our duty is to place our Clients on a vantage pedestal through useful advice provided by our team of experts.
        </p>
      </div>
    </div>
  </div>
</section>